:root{
    --desktop-color: #1D2036;
    --button-color: #2D445A;
    --text-color: #FFFFFF;

    
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
@media all and (min-width:640px ){
body{
    margin: 0;
    font-family: "Inter","JejuGothic";
    background: #1D2036;
    padding: 1.5em;
}

nav{
    position: absolute;
    left: 55%;
    top: 7%;
    font-size: 200%; 
    
        
}
nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
  
}
nav ul li a{
    font-family: "Inter";
    font-weight:bold;
    color: #FFFFFF;
    text-decoration: none; 
}
.insta{
    position: absolute;
    width: 7%;
    height: 90px;
    left: 24%;
    top: 550px;
    border-radius: 25px;
}
.fb{
    position: absolute;
    width: 7%;
    height: 79px;
    left: 15%;
    top: 550px;
    border-radius: 88px;
}
.tweeter{
    position: absolute;
    width: 7%;
    height: 90px;
    left: 33%;
    top: 550px;
    border-radius: 60px;
}
section{
    position: absolute;
    width: 50%;
    height: 269px;
    left: 15%;
    top: 150px;
    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 4px;
    color: #FDD5D5;
}

.button{

   
    padding: 21px 39px;
    border-radius: 60px;
    display: inline-block;
    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;

    
    position: absolute;
    width: 50%;
    height: 32%;
    left: 10%;
    top: 330px;
}
.button.txt{
    background: var(--button-color);
    text-decoration: none;
}
.photo{
    position: absolute;
    width:50%;
    height: 80%;
    left: 40%;
    top: 100px;
}
}
