*{
    margin: 0;
    padding:0;
}
body{
    background-image: url("hbd1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.lettercount{
    display:flex;
}
.lettercount .letter{
    width: 100%;
    font-weight: 880;
    font-size: 7vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: relative;
    top: 9vh;
}
.l1, .l3, .l5, .l7,.l9,.l11 ,.l13{
    animation: anim1 1s cubic-bezier(0.5, 0.05,1,0.5) alternate infinit;
    color: #e8d658;
}
.l2, .l4, .l6, .l8,.l10,.l12 {
    animation: anim2 1s cubic-bezier(0.5, 0.05,1,0.5) alternate infinit;
    color: #fff;
}
@keyframes anim1{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(90vh) rotate(720deg);
    }
    
}
@keyframes anim2{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(90vh) rotate(-720deg);
    }
    
}
